<a href="https://colab.research.google.com/github/soumo99/DL_Codes/blob/main/Neural_Network_Keras_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('/content/Air Quality Index Prediction.csv')

In [3]:
data.head(10)

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   NaN   NaN  NaN     NaN   NaN  NaN  NaN   NaN         NaN
1   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
2   NaN   NaN  NaN     NaN   NaN  NaN  NaN   NaN         NaN
3   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
4   NaN   NaN  NaN     NaN   NaN  NaN  NaN   NaN         NaN
5   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
6   NaN   NaN  NaN     NaN   NaN  NaN  NaN   NaN         NaN
7   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
8   NaN   NaN  NaN     NaN   NaN  NaN  NaN   NaN         NaN
9  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [4]:
data.tail(10)

         T    TM    Tm     SLP     H   VV     V    VM      PM 2.5
2176   NaN   NaN   NaN     NaN   NaN  NaN   NaN   NaN         NaN
2177  18.1  24.0  11.2  1015.4  56.0  1.8  15.9  25.9  288.416667
2178   NaN   NaN   NaN     NaN   NaN  NaN   NaN   NaN         NaN
2179  17.8  25.0  10.7  1015.8  54.0  2.3   9.4  22.2  256.833333
2180   NaN   NaN   NaN     NaN   NaN  NaN   NaN   NaN         NaN
2181  13.9  24.5  11.4  1015.0  95.0  0.6   8.7  14.8  169.000000
2182   NaN   NaN   NaN     NaN   NaN  NaN   NaN   NaN         NaN
2183  16.3  23.0   9.8  1016.9  78.0  1.1   7.4  16.5  186.041667
2184   NaN   NaN   NaN     NaN   NaN  NaN   NaN   NaN         NaN
2185  16.3  23.4   9.0  1017.3  68.0  1.3   7.8  18.3  185.583333

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2186 entries, 0 to 2185
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       1093 non-null   float64
 1   TM      1093 non-null   float64
 2   Tm      1093 non-null   float64
 3   SLP     1093 non-null   float64
 4   H       1093 non-null   float64
 5   VV      1093 non-null   float64
 6   V       1093 non-null   float64
 7   VM      1093 non-null   float64
 8   PM 2.5  1092 non-null   float64
dtypes: float64(9)
memory usage: 153.8 KB

In [6]:
data.describe()

,T,TM,Tm,SLP,H,VV,V,VM,PM 2.5
count,1093.000000,1093.000000,1093.000000,1093.000000,1093.000000,1093.000000,1093.000000,1093.000000,1092.000000
mean,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.751510,15.805124,109.090984
std,7.237401,6.679078,7.438653,7.529237,15.709816,0.747541,3.841137,7.308435,84.465790
min,6.700000,9.800000,0.000000,991.500000,20.000000,0.300000,0.400000,1.900000,0.000000
25%,19.300000,27.800000,12.100000,1001.100000,54.000000,1.600000,3.700000,11.100000,41.833333
50%,28.200000,34.200000,21.200000,1008.100000,64.000000,1.900000,6.500000,14.800000,83.458333
75%,31.700000,37.000000,26.000000,1015.000000,74.000000,2.600000,9.100000,18.300000,158.291667
max,38.500000,45.500000,32.700000,1023.200000,98.000000,5.800000,24.400000,57.600000,404.500000

In [7]:
#Checking for null values 
data.isnull().sum()

T         1093
TM        1093
Tm        1093
SLP       1093
H         1093
VV        1093
V         1093
VM        1093
PM 2.5    1094
dtype: int64

In [8]:
#Converting all null value columns to mean 
data[['T','TM','Tm','SLP','H','VV','V','VM','PM 2.5']] = data[['T','TM','Tm','SLP','H','VV','V','VM','PM 2.5']].fillna(data[['T','TM','Tm','SLP','H','VV','V','VM','PM 2.5']].mean())

In [9]:
#All null values being converted to mean values 
data.isnull().sum()

T         0
TM        0
Tm        0
SLP       0
H         0
VV        0
V         0
VM        0
PM 2.5    0
dtype: int64

In [10]:
#Dividing the dataset to independent and dependent variables 
X = data.iloc[:,:-1]
Y = data.iloc[:,-1]

In [11]:
X

,T,TM,Tm,SLP,H,VV,V,VM
0,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
1,7.400000,9.800000,4.800000,1017.600000,93.000000,0.500000,4.30000,9.400000
2,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
3,7.800000,12.700000,4.400000,1018.500000,87.000000,0.600000,4.40000,11.100000
4,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
...,...,...,...,...,...,...,...,...
2181,13.900000,24.500000,11.400000,1015.000000,95.000000,0.600000,8.70000,14.800000
2182,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
2183,16.300000,23.000000,9.800000,1016.900000,78.000000,1.100000,7.40000,16.500000
2184,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
2185,16.300000,23.400000,9.000000,1017.300000,68.000000,1.300000,7.80000,18.300000

In [12]:
Y

0       109.090984
1       219.720833
2       109.090984
3       182.187500
4       109.090984
           ...
2181    169.000000
2182    109.090984
2183    186.041667
2184    109.090984
2185    185.583333
Name: PM 2.5, Length: 2186, dtype: float64

In [13]:
pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 5.3 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.9.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 33.0 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.9.24)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.49.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.2.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.9.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.1)
Installing collected packages: jedi, kt-legacy, keras-tuner
Successfully installed jedi-0.18.1 keras-tuner-1.1.3 kt-legacy-1.0.4

In [14]:
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  This is separate from the ipykernel package so we can avoid doing imports until

Building the model

In [15]:
def build_model(hp): #hp is the parameter , assigning the instance of the specific model 
  model = keras.Sequential() #adding the sequential layer 
  for i in range(hp.Int('num_layers',2,20)): #num of hidden layers will be between 2 and 20 , Int measn we will try with diff values 
    model.add(layers.Dense(units = hp.Int( 'units', #inside each hidden layer nodes are being created using dense function 
                                          min_value = 32, #no. of neurons will be 32 and 512
                                          max_value = 512,
                                          step = 32), #When sampling from it, the minimum step for walking through the interval is 32.
                           activation = 'relu')) #activation fucntion in the hidden layer 
  model.add(layers.Dense(1,activation = 'linear')) #output layer with one neuron since it is a regression problem 
  model.compile(
      optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])), #choice means out of the 3 we will select one 
        loss='mean_absolute_error',
        metrics=['mean_absolute_error']
  )
  return model

In [16]:
tuner  = RandomSearch(
    build_model,
    objective = 'val_mean_absolute_error',
    max_trials = 5,
    executions_per_trial = 3,
    directory = 'project',
    project_name = 'price_prediction')

In [17]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [19]:
X_train

,T,TM,Tm,SLP,H,VV,V,VM
1018,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
2164,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
1116,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
1800,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
1023,29.600000,35.500000,25.000000,1011.000000,69.000000,1.900000,3.70000,9.400000
...,...,...,...,...,...,...,...,...
1033,26.600000,36.200000,21.000000,1012.000000,68.000000,1.600000,2.00000,7.600000
1731,30.700000,34.800000,25.600000,1004.500000,66.000000,2.600000,3.30000,11.100000
763,13.700000,18.300000,11.600000,1019.900000,91.000000,0.600000,0.90000,7.600000
835,24.400000,34.700000,19.000000,1004.600000,76.000000,3.100000,7.00000,14.800000
1653,29.600000,32.000000,25.700000,997.600000,80.000000,2.300000,2.00000,7.600000

In [20]:
X_test

,T,TM,Tm,SLP,H,VV,V,VM
39,14.700000,21.700000,8.400000,1017.100000,71.000000,1.800000,10.90000,22.200000
156,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
1874,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
2174,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
1572,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
...,...,...,...,...,...,...,...,...
1623,37.600000,43.000000,28.700000,1001.200000,42.000000,2.400000,2.80000,11.100000
351,16.500000,24.500000,10.800000,1012.200000,74.000000,1.600000,10.20000,22.200000
1621,37.700000,42.000000,30.700000,1000.900000,37.000000,2.600000,11.90000,22.200000
1824,26.009241,32.482251,19.460201,1008.081885,62.918573,2.003111,6.75151,15.805124
2175,16.300000,23.000000,6.600000,1016.900000,61.000000,1.000000,9.40000,20.600000

The fit method is calculating the mean and variance of each of the features present in our data. The transform method is transforming all the features using the respective mean and variance.

Using the transform method we can use the same mean and variance as it is calculated from our training data to transform our test data. Thus, the parameters learned by our model using the training data will help us to transform our test data.

fit_transform() is used on the training data so that we can scale the training data and also learn the scaling parameters of that data.

In [21]:
#Scaling down the datas 
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [22]:
X_train

array([[-1.15102251e-03, -5.95774870e-03,  2.76647463e-03, ...,
         6.63020889e-03,  1.77679395e-03,  9.32688338e-03],
       [-1.15102251e-03, -5.95774870e-03,  2.76647463e-03, ...,
         6.63020889e-03,  1.77679395e-03,  9.32688338e-03],
       [-1.15102251e-03, -5.95774870e-03,  2.76647463e-03, ...,
         6.63020889e-03,  1.77679395e-03,  9.32688338e-03],
       ...,
       [-2.43548380e+00, -3.05232297e+00, -1.51140442e+00, ...,
        -2.60271468e+00, -2.14995975e+00, -1.62647427e+00],
       [-3.19401946e-01,  4.70417584e-01, -8.58856297e-02, ...,
         2.04649953e+00,  9.31525066e-02, -1.91057937e-01],
       [ 7.08974282e-01, -1.09545801e-01,  1.20478679e+00, ...,
         5.58750982e-01, -1.74546410e+00, -1.62647427e+00]])

In [23]:
X_test

array([[-2.23771914e+00, -2.32199871e+00, -2.12784498e+00, ...,
        -3.71091861e-01,  1.52727346e+00,  1.28423107e+00],
       [-1.15102251e-03, -5.95774870e-03,  2.76647463e-03, ...,
         6.63020889e-03,  1.77679395e-03,  9.32688338e-03],
       [-1.15102251e-03, -5.95774870e-03,  2.76647463e-03, ...,
         6.63020889e-03,  1.77679395e-03,  9.32688338e-03],
       ...,
       [ 2.31086802e+00,  2.03846673e+00,  2.16797516e+00, ...,
         1.11665669e+00,  1.89499678e+00,  1.28423107e+00],
       [-1.15102251e-03, -5.95774870e-03,  2.76647463e-03, ...,
         6.63020889e-03,  1.77679395e-03,  9.32688338e-03],
       [-1.92129568e+00, -2.04275708e+00, -2.47459279e+00, ...,
        -1.85884041e+00,  9.75688476e-01,  9.65249665e-01]])

In [24]:
#Training the model and checking for best hyperparameters 
tuner.search(X_train, Y_train,
             epochs=5,
             validation_data=(X_test, Y_test))

Trial 5 Complete [00h 00m 18s]
val_mean_absolute_error: 25.974036534627277

Best val_mean_absolute_error So Far: 20.38714027404785
Total elapsed time: 00h 01m 43s

In [25]:
tuner.results_summary()

Results summary
Results in project/price_prediction
Showing 10 best trials
<keras_tuner.engine.objective.Objective object at 0x7f19cb541cd0>
Trial summary
Hyperparameters:
num_layers: 14
units_0: 256
units_1: 256
learning_rate: 0.001
units_2: 256
units_3: 352
units_4: 416
units_5: 256
units_6: 320
units_7: 480
units_8: 256
units_9: 384
units_10: 224
units_11: 64
units_12: 160
units_13: 128
units_14: 288
units_15: 192
units_16: 480
Score: 20.38714027404785
Trial summary
Hyperparameters:
num_layers: 20
units_0: 320
units_1: 256
learning_rate: 0.001
units_2: 96
units_3: 224
units_4: 64
units_5: 128
units_6: 448
units_7: 64
units_8: 320
units_9: 256
units_10: 224
units_11: 64
units_12: 192
units_13: 160
units_14: 192
units_15: 288
units_16: 480
units_17: 32
units_18: 32
units_19: 32
Score: 21.56211535135905
Trial summary
Hyperparameters:
num_layers: 10
units_0: 512
units_1: 160
learning_rate: 0.001
units_2: 32
units_3: 32
units_4: 32
units_5: 32
units_6: 32
units_7: 32
units_8: 32
units_9: 32
Score: 22.066696166992188
Trial summary
Hyperparameters:
num_layers: 17
units_0: 384
units_1: 448
learning_rate: 0.01
units_2: 160
units_3: 128
units_4: 224
units_5: 352
units_6: 128
units_7: 128
units_8: 320
units_9: 288
units_10: 32
units_11: 32
units_12: 32
units_13: 32
units_14: 32
units_15: 32
units_16: 32
Score: 25.637725194295246
Trial summary
Hyperparameters:
num_layers: 11
units_0: 288
units_1: 160
learning_rate: 0.01
units_2: 256
units_3: 448
units_4: 416
units_5: 64
units_6: 128
units_7: 192
units_8: 320
units_9: 384
units_10: 96
units_11: 256
units_12: 416
units_13: 352
units_14: 64
units_15: 192
units_16: 96
units_17: 256
units_18: 32
units_19: 256
Score: 25.974036534627277